[submodule "EmojiRatingChallenge"]
	path = EmojiRatingChallenge
	url = https://github.com/KaustubhDamania/EmojiRatingChallenge
[submodule "Newsletter Form"]
	path = NewsletterForm
	url = https://github.com/KaustubhDamania/Newsletter-Form
